<!DOCTYPE html>
<html>
  <head>
    <title>Dockshubv1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_pack_tag "hello_react" %>
    <%= javascript_pack_tag "upload_react" %>
    <%= javascript_pack_tag "get_react" %>
  </head>

  <body>
 <div id="react-root"></div>
 <div id="react-root-2"></div>
  <div id="react-root-3"></div>
  </body>
</html>
